<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RDTWEB</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <div>
            <hr class="bg-white">
        </div>

        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageQuestions">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> Manage Questions
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageSchedules">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Manage Schedules
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ManageParticipants">
                    <span class="oi oi-people" aria-hidden="true"></span> Manage Participants
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AnswersCorrection">
                    <span class="oi oi-task" aria-hidden="true"></span> Answers Correction
                </NavLink>
            </li>

            <div>
                <hr class="bg-white">
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Participant">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="TestSchedules">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Test Schedules
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="TestResults">
                    <span class="oi oi-document" aria-hidden="true"></span> Test Results
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}