@using Microsoft.AspNetCore.Hosting
@using System.IO

@inject IWebHostEnvironment _env

@if (!string.IsNullOrWhiteSpace(FilePath))
{
    var fileInfo = GetFileInfo(FilePath);

    <div class="table-responsive">
        <table class="table table-hover" style="color: inherit;">
            <tbody>
            <tr>
                <th>Name</th>
                <td>@fileInfo.Name</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>@fileInfo.Length.ToString("n") Bytes</td>
            </tr>
            <tr>
                <th>Last Modified At</th>
                <td>@fileInfo.LastWriteTime</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="@FilePath" target="_blank" class="btn btn-primary">Download</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <small>No file uploaded yet.</small>
}

@code {

    [Parameter]
    public string FilePath { get; set; }

    private FileInfo GetFileInfo(string path)
    {
        var absolutePath = Path.Combine(_env.ContentRootPath, path);
        return new FileInfo(absolutePath);
    }

}