@page "/"

<ServerTime/>

<AuthorizeView Roles="Admin">
    <h2 class="my-4">Admin</h2>

    <section class="card-deck">
        <div class="card">
            <div class="card-body">
                <NavLink href="ManageParticipants" class="stretched-link d-block text-center">Manage Participants</NavLink>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <NavLink href="ManageQuestions" class="stretched-link d-block text-center">Manage Questions</NavLink>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <NavLink href="ManageSchedules" class="stretched-link d-block text-center">Manage Schedules</NavLink>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <NavLink href="AnswersCorrection" class="stretched-link d-block text-center">Answers Correction</NavLink>
            </div>
        </div>
    </section>

    <h2 class="my-4">Participants</h2>
</AuthorizeView>

<AuthorizeView Roles="Admin, Participant">
    <Authorized>
        <section class="card-deck">
            <div class="card">
                <div class="card-body">
                    <NavLink href="TestSchedules" class="stretched-link d-block text-center">Test Schedules</NavLink>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <NavLink href="TestResults" class="stretched-link d-block text-center">Test Results</NavLink>
                </div>
            </div>
        </section>
    </Authorized>

    <NotAuthorized>
        <section class="card-deck">
            <div class="card">
                <div class="card-body">
                    <NavLink href="Identity/Account/Login" class="stretched-link d-block text-center">Login</NavLink>
                </div>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>