@page "/ManageParticipants"

@using Microsoft.Extensions.Configuration

@attribute [Authorize(Roles = "Admin")]

@inject UserManager<IdentityUser> _userManager
@inject IConfiguration _config

<main class="row">
    <section class="col-7 pr-2">
        <h3>Participants</h3>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Users)
                {
                    <tr>
                        <td class="align-middle">@user.Id</td>
                        <td class="align-middle">@user.Email</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger" @onclick="() => DeleteUser(user)">Delete</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>

    <section class="col-4 pl-2">
        <div style="position: sticky; top: 73px;">
            <h3>Create Participants</h3>

            @if (IsSuccess)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Create User Success.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="() => IsSuccess = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            
            @if (IsError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Username must not be empty
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="() => IsError = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <EditForm Model="@FormModel" OnSubmit="@CreateUser">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input @bind-value="FormModel.Username" type="text" class="form-control" id="username" placeholder="Username">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>

        </div>
    </section>
</main>

@code {
    private List<IdentityUser> Users { get; set; } = new();

    private CreateUserForm FormModel { get; } = new();
    private bool IsSuccess { get; set; }
    private bool IsError { get; set; }

    protected override async Task<Task> OnInitializedAsync()
    {
        Users = (await _userManager.GetUsersInRoleAsync("Participant")).ToList();
        return base.OnInitializedAsync();
    }

    private async Task CreateUser()
    {
        if (FormModel.Username == "")
        {
            IsError = true;
        }
        
        var user = new IdentityUser
        {
            UserName = FormModel.Username,
            Email = FormModel.Username,
            EmailConfirmed = true
        };

        FormModel.Username = "";
        IsSuccess = true;

        Users.Add(user);

        await _userManager.CreateAsync(user, _config["DefaultPassword"]);
        await _userManager.AddToRoleAsync(user, "Participant");
    }

    private void DeleteUser(IdentityUser user)
    {
        _userManager.DeleteAsync(user);
        Users.Remove(user);
    }

    public class CreateUserForm
    {
        public string Username { get; set; }
    }

}