@page "/ManageQuestions/Create"
@attribute [Authorize(Roles = "Admin")]
@inject ApplicationDbContext _context

<h3>Manage Questions</h3>

<section>
    <div class="form-group">
        <input @bind-value="@QuestionSet.Title" type="text" class="form-control" placeholder="Question Set Title"/>
    </div>

    <hr/>

    @for (var i = 0; i < QuestionSet.Questions.Count; i++)
    {
        var question = QuestionSet.Questions[i];
        <ViewQuestion Question="question" Number="i + 1" IsEditing="true" IsNew="true"/>
    }
</section>

@if (IsSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Question Set Added Successfully
        <button @onclick="() => IsSuccess = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<button @onclick="AddNewQuestion" class="btn btn-primary">Add Question</button>
<button @onclick="SaveQuestionSet" class="btn btn-success">Save</button>
<NavLink href="ManageQuestions" class="btn btn-secondary">Back</NavLink>

@code {
    private QuestionSet QuestionSet { get; set; } = new();
    private bool IsSuccess { get; set; }

    private void AddNewQuestion() => QuestionSet.Questions.Add(new Question());

    private async Task SaveQuestionSet()
    {
        await _context.AddAsync(QuestionSet);
        await _context.SaveChangesAsync();
        
        QuestionSet = new QuestionSet();
        IsSuccess = true;
        StateHasChanged();
    }

}