@page "/ManageQuestions/{id?}"

@attribute [Authorize(Roles = "Admin")]

@using RDTWEB.Data

@inject ApplicationDbContext Context

@if (IsUpdateSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Update Success.
        <button @onclick="() => IsUpdateSuccess = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (IsEditing)
{
    <div class="form-group">
        <input @bind-value="@QuestionSet.Title" class="form-control" />
    </div>
}
else
{
    <h3>@QuestionSet.Title</h3>
}

<ol class="ml-3 pl-0">
    @foreach (var question in QuestionSet.Questions)
    {
        <li class="ml-0 pl-0 mb-4">
            <ViewQuestion Question="@question" OnDelete="q => OnQuestionDeleted((Question) q)" />
        </li>
    }
</ol>

@if (IsEditing)
{
    <button @onclick="AddQuestion" class="btn btn-primary">Add Question</button>
    <button @onclick="UpdateQuestionSet" class="btn btn-success">Save</button>
    <button @onclick="() => IsEditing = false" class="btn btn-danger">Cancel</button>
}
else
{
    <button @onclick="() => IsEditing = true" class="btn btn-primary">Edit</button>
    <NavLink href="/ManageQuestions" class="btn btn-secondary">Back</NavLink>
}


@code {
    [Parameter]
    public string Id { get; set; }

    public QuestionSet QuestionSet { get; set; }
    public bool IsEditing { get; set; } = false;
    public bool IsUpdateSuccess { get; set; } = false;

    protected override Task OnInitializedAsync()
    {
        QuestionSet = Context.QuestionSets.Single(QuestionSet => QuestionSet.Id.ToString() == Id);
        return base.OnInitializedAsync();
    }

    public void AddQuestion()
    {
        QuestionSet.Questions.Add(new Question());
    }

    public void UpdateQuestionSet()
    {
        IsUpdateSuccess = true;
        IsEditing = false;
        Context.Update(QuestionSet);
        Context.SaveChangesAsync();
    }

    public void OnQuestionDeleted(Question question)
    {
        QuestionSet.Questions.Remove(question);
    }
}
